@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Permanent+Marker&display=swap');

// color variables
$primary-color: rgb(221, 184, 203);
$secondary-color: rgb(65, 201, 206);
$tertiary-color: rgb(235, 206, 61);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

body {
  line-height: 1.6;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

// header
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $primary-color;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.title-main {
  padding: 1.5rem;
}

// main area
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 2rem;
}

#url-entered {
  width: 50%;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  min-height: 30vh;
}

.ui-data {
  padding: 0.5rem;
}

// button
button {
  border-radius: 900px;
  padding: 0.4rem;
  margin: 1rem;
  width: 10rem;
  font-weight: bold;
  background-color: $primary-color;
  color: black;
  transition: transform 0.2s ease-out;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 3);
  font-size: 1rem;
  outline: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: black;
    color: $primary-color;
    border: 1px solid $secondary-color;
  }
}

.hide {
  display: none;
  z-index: -100;
}

.error {
  padding: 1rem;
  margin: 1rem;
}

// footer
footer {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 1rem;
  background-color: $primary-color;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-icon {
  list-style: none;
  transition: transform 0.1s ease-out;
  padding: 1rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: $primary-color;
  }

  i {
    color: black;
  }
}

// media queries
@media (max-width: 700px) {
  header,
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
